#!/bin/bash

cat <<EOF >/tmp/ignition.json
{
  "ignition": {
    "config": {},
    "security": {
      "tls": {}
    },
    "timeouts": {},
    "version": "2.3.0"
  },
  "networkd": {},
  "passwd": {
    "users": [
      {
        "name": "core",
        "sshAuthorizedKeys": [
          "${public_key}"
        ]
      }
    ]
  },
  "storage": {},
  "systemd": {
    "units": [
      {
        "enable": true,
        "name": "docker.service"
      },
      {
        "mask": true,
        "name": "update-engine.service"
      },
      {
        "mask": true,
        "name": "locksmithd.service"
      }
    ]
  }
}
EOF

flatcar-install -d /dev/sda -o vmware_raw -C lts -i /tmp/ignition.json

reboot
