#!/bin/bash

# shellcheck disable=SC2154 # Ignore undefined vars passed from Packer
cat <<EOF >/tmp/ignition.json
{
  "ignition": {
    "version": "3.3.0"
  },
  "passwd": {
    "users": [
      {
        "name": "core",
        "sshAuthorizedKeys": [
          "${public_key}"
        ]
      }
    ]
  },
  "systemd": {
    "units": [
      {
        "enabled": true,
        "name": "docker.service"
      },
      {
        "mask": true,
        "name": "update-engine.service"
      },
      {
        "mask": true,
        "name": "locksmithd.service"
      }
    ]
  }
}
EOF

flatcar-install -d /dev/sda -o vmware_raw -i /tmp/ignition.json

reboot
